body {
    background-image: url("./images/pexels-fwstudio-139312.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

nav {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.navbar-default {
    width: 40%;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
 a:hover, a:active {
    background-color: green;
    color: white;
}
.logo img {
    height: 100px;
    width: 100px;
}

.logo-name {
    width: 10%;
}

.navbar-default ul {
    display: block;
}

.navbar-default ul li {
    display: flex;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    list-style: none;
    box-sizing: border-box;
}

.navbar-default ul li::after {
    content: "";
    width: 0%;
    height: 3px;
    background: rgb(11, 1, 1);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.buttons:hover {
    background: rgb(25, 23, 23);
}

.container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dataFetch {
    display: flex;
    flex-direction: column;
    background: beige;
    align-content: center;
    height: auto;
    width: 60%;
    padding: 25px;
}

* {
    font-style: italic;
}

.doc {
    width: fit-content;
}

.ratings {
    height: auto;
    border: 2px solid white;
    width: 40%;
    padding-top: auto;
    padding-left: 10px;
    border-radius: 10px;
}

#but {
    cursor: pointer;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    box-shadow: bisque;
}

#rating { font-size: 0; }
#rating span { font-size: 28px; }
#rating span::before { content: "☆"; }
#rating span.active::before {content: "★"; }
#rating span:hover { cursor: pointer; }